# 编译输出
/dist
/node_modules
/build
dist.*
/deploy

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 操作系统文件
.DS_Store

# 测试产物
/coverage
/.nyc_output

# IDE 和编辑器
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv 环境变量文件
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.production

# 临时目录
.temp
.tmp
/uploads/

# 运行时数据
pids
*.pid
*.seed
*.pid.lock

# 诊断报告 (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
